<%= link_to "Sell an Item", listings_type_selection_path, :class => "btn btn-primary button" %>
<div class="main-container">
  <div class="user-profile">
    <h1>User Profile:<h1>
    <h6>Name: <%= current_user.name %></h6>
    <h6>Email: <%= current_user.email %></h6>
    <h6>Address: <%= current_user.address %></h6>
    <% if current_user.rating != nil %>
      <h6>Rating: <%= current_user.rating.round(1) %></h6>
    <% end %>
    <h6>Bought items: <%= @purchases.length %></h6>
    <h6>Sold items: <%= @sold_listings.length %></h6>
    <% if @sales != nil %>
      <h6>Earnings: $<%= @sales.sum.round(2) %></h6>
    <% end %>
    </br></br>
  </div>

  <div class="listings-container">
    <h1>Current Listings:<h1>
    <div class="container-fluid">
      <% @current_listings.each do |l| %>
        <div class="card" style="width: 18rem;">
          <% if l != nil %>
            <% l.pictures.each do |pic| %>
              <%= image_tag  pic,class:"show-image card-img-top" %>
              <% break %>
            <% end %>
            <div class="card-body">
              <h6 class="card-title"><%= l.title %></br></h6>
              <h6 class="card-text">$<%= l.price %></br></h6>
              <%= (link_to "View", listing_path(l.id), :class => "btn btn-primary button") %>
              <%= (link_to "Delete", listing_path(l.id), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-primary button")  %>
          <% end %>
            </div>
        </div>
      <% end %>
    </div>
    </br></br>

    <h1>Purchases:<h1>
    <div class="container-fluid">
    <% @purchases.each do |listing| %>
      <div class="card" style="width: 18rem;">
        <% if listing != nil %>
          <% listing.pictures.each do |pic| %>
            <%= image_tag  pic,class:"show-image card-img-top" %>
            <% break %>
          <% end %>
          <div class="card-body">
            <h6 class="card-title"><%= listing.title %></h6>
            <h6 class="card-text">$<%= listing.price %></br></h6>
            <% if listing.rated_status != true %>
              <%= link_to "Rate the seller of this listing", profiles_user_profile_rate_seller_path(user: listing.user, listing_id: listing.id), :class => "btn btn-primary button" %>
            <% end %>
            <%= (link_to "View", listing_path(listing.id), :class => "btn btn-primary button") %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>

    </br></br>



    <h1>Sold Listings:<h1>
    <div class="container-fluid">
      <% @sold_listings.each do |listing|%>
        <div class="card" style="width: 18rem;">
          <% if listing != nil %>
            <% listing.pictures.each do |pic| %>
            <%= image_tag  pic, class:"show-image card-img-top" %>
            <% break %>
            <% end %>
          <div class="card-body">
            <h6 class="card-title"><%= listing.title %></h6>
            <h6 class="card-text">$<%= listing.price %></h6>
            <%= (link_to "Show", listing_path(listing.id), :class => "btn btn-primary button") %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

