<h1>Listings#index</h1>
 <% @listings.each do |l| %>
    <div class="container-fluid">
    <%
=begin%>
 don't show listings if their sold_status is "true"     
<%
=end%>
    <% if !l.sold_status %>
      <div class="card" style="width: 18rem;">
        <% l.pictures.each do |pic|
        %>
        <%= image_tag  pic,class:"show-image card-img-top" %>
        <% end %>
        <div class="card-body">
        <h4 class="card-title"><%= l.title %></h4>
        <h4 class="card-title"><%= l.id %></h4>
        <h6 class="card-text"><%= l.description %></h6>
        <h6 class="card-text"><%= l.price %></h6></br>
        <% if current_user %>
          <% if current_user.id == l.user_id %>
          <%= (link_to "Edit", edit_listing_path(l.id), :class => "btn btn-primary" )  %>
          <%= (link_to "Delete", listing_path(l.id), method: :delete, :class => "btn btn-primary")  %>
          <% end %>
        <% end %>
        <%= (link_to "Show", listing_path(l.id), :class => "btn btn-primary") %>
    <% end %>
    </div>
  </div>
 <% end %> 
 </div>