<h1>Listings#index</h1>

 <% @listings.each do |l| %>
  <div class="index-listing">
    <% l.pictures.each do |pic|
     %>
 
    <%= image_tag  pic,class:"show-image", class:"index-pix" %>
    
     <% end %>
    <h4> <%= l.title %></h4>
    <h4> <%= l.id %></h4>
    <h6> <%= l.description %></h6>
    <h6> <%= l.price %></h6></br>
  </div>
 <% end %> 