<div class="container">
  <div class="row">
      <div class="col-md-5">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% @listing.pictures.each do |pic| %>
               <%= image_tag  pic,class:"show-image", class:"d-block w-100 show-pic" %>
              <% break %>
              <% end %>
            </div>
            <% counter = 1 %>
            <% until counter == @listing.pictures.length %>
              <div class="carousel-item">
                <%= image_tag  @listing.pictures[counter],class:"show-image", class:"d-block w-100 show-pic" %>
              </div>
              <% counter += 1%>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-7 show-details">
          <h2><%=@listing.title%></h2>
          <p><%=@listing.description%></p>

          <% if @listing.brand != nil %>
           <h4>Brand: <%=@listing.brand.name%></h4>
          <% end %>

          <% if @listing.category != nil %>
           <h4>Category: <%= @listing.category.name %></h4>
          <% end %>

          <h4>Size: <%=@listing.size.name%></h4>
          <h2>$<%=@listing.price%></h2>
          <% if current_user.id != @listing.user.id && @listing.sold_status != true %>
          <%= link_to "Buy Now",  listing_path(id: @listing.id, sold_status: true), method: :put, class:"btn btn-primary button" %>
          <% end %>
      </div>
  </div>
</div>

